

<footer class="text-body-primary mt-5" style="background-color: #0dcaf0;">
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-md-4">
                <h5>Sobre Nosotros</h5>
                <p>En OnlyFlans, nos especializamos en la creación de los mejores postres, con más de 20 años de experiencia deleitando a nuestros clientes con sabores únicos y auténticos<nav></p>
            </div>
            <div class="col-md-4">
                <h5>Enlaces Rápidos</h5>
                <ul class="list-unstyled">
                    <li><a href="{% url 'indice'%}" class="text-body-secondary">Inicio</a></li>
                    <li><a href="{% url 'acerca'%}" class="text-body-secondary">Acerca</a></li>
                    <li><a href="{% url 'contacto'%}" class="text-body-secondary">Contacto</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Contacto</h5>
                <address>
                    Providencia 1234<br>
                    Santiago, Chile<br>
                    Teléfono: (+56) 1234 5678<br>
                    Email: <a href="mailto:info@onlyflans.com" class="text-body-secondary">ventas@onlyflans.com</a>
                </address>
            </div>            
        </div>
        <div class="text-center mt-1">
            <div class="d-flex justify-content-center align-items-center">               
                <div>
                    <span class="ml-3">&copy; 2024 Onlyflans. Todos los derechos reservados.</span>
                </div>                                
            </div>            
        </div>
    </div>
</footer>